@{
    ViewData["Title"]= "Member Zone";
    Layout = "~/Views/Shared/_MemberZoneLayout.cshtml";

}

<h2> Salle des Députés</h2>
<h4>It is one of the blessings of old friends that you can afford to be stupid with them.
-Ralph Waldo Emerson</h4>
