@model HomeBase.Models.QOTD

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>QOTD</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionAuthor" class="control-label"></label>
                <input asp-for="QuestionAuthor" class="form-control" />
                <span asp-validation-for="QuestionAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionDate" class="control-label"></label>
                <input asp-for="QuestionDate" class="form-control" />
                <span asp-validation-for="QuestionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Theme" class="control-label"></label>
                <input asp-for="Theme" class="form-control" />
                <span asp-validation-for="Theme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
