@{
    ViewData["Title"] = "About";
}

 <div  style="max-height:700px">
            <img src="~/images/started11920.jpg" alt="ASP.NET" class="img-responsive" />
           <div class="carousel-caption" role="option">
               
            </div>
            </div>
   <p >
Lay this unto your breast: <br/>
Old friends, like old swords, <br/>
still are trusted best. <br/>
-John Webster <br/>  </p>