@{
    ViewData["Title"] = "Contact";
}
<h2>If the path be beautiful, let us not ask where it leads.</h2>
<h3>Anatole France</h3>

<address>
   5120 SW 72nd St<br />
   Miami, FL 33143<br />
    <abbr title="Phone">P:</abbr>
    (305) 661-8527
</address>

<address>
    <strong>Support:</strong> <a href="mailto:zillnaanalysis@gmail.com">zillnaanalysis@gmail.com</a><br />
</address>
