@{
    ViewData["Title"] = "Home Page";

}   


   
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
 
    <div class="carousel-inner" role="listbox">
        <div  style="max-height:700px  ;-moz-width:700px;
  -moz-height:700px;" class="item active">
            <img src="~/images/stockholm1920.jpg" alt="E.M Stockholm" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Stockholm.
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Stockholm">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div style="max-height:700px" class="item">
            <img  src="~/images/amsterdam1920.jpg" alt="SDG Amsterdam" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Amsterdam                   
                   <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Montreal">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/boston.jpg" alt="NT Boston" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Boston
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Boston">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/haiti1920.jpg" alt="EB Haiti" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Port Au Prince                    
                <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Port-au-Prince">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/nyc1920.jpg" alt="CMS MM AS NYC" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    New York City                  
                <a class="btn btn-default" href="https://en.wikipedia.org/wiki/New_York_City">
                        Learn More
                </a>
                </p>
            </div>
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/paris1920.jpg" alt="ED EA MG Paris" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Paris                    
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Paris">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
         <div style="max-height:700px" class="item">
            <img src="~/images/lausanne_1920.jpg" alt="CL Lausanne" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Lausanne                    
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Lausanne">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
         <div style="max-height:700px" class="item">
            <img src="~/images/miami1920.jpg" alt="Miami" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Miami                    
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Miami">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/atlanta1920.jpg" alt="GG SM KJ Atlanta" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Atlanta                    
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Atlanta">
                        Learn More
                    </a>
                </p>
            </div>
          </div>  
        <div style="max-height:700px" class="item">
            <img src="~/images/melbourne1920.jpg" alt="JH" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Melbourne              
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Melbourne,_Florida">
                        Learn More
                    </a>
                </p>
        </div>
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/washington-dc_1920.jpg" alt="JH" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   Washington D.C             
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/Washington,_D.C.">
                        Learn More
                    </a>
                </p>
        </div>            
        </div>
        <div style="max-height:700px" class="item">
            <img src="~/images/fp_1920.jpg" alt="JH" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   French Polynesia           
                    <a class="btn btn-default" href="https://en.wikipedia.org/wiki/French_Polynesia">
                        Learn More
                    </a>
                </p>
        </div>            
        </div>
          <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
    </ol>     
       
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>




</div>
<div class="row" style="text-align: center">
        <img src="~/images/logo.png" alt="Microsoft Azure" class="centerimg" />
    </div>